{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success ml-2" type="submit">Log In</button> 
    </form>
    <br>
    <h5>If you forgot your password, you can change.</h5>
    <p class="lead">
        <a class="btn btn-success ml-2" href="{% url 'password_reset' %}" role="button">Forgot Password</a>
    </p>
    <br>
    <h5>If you don't have registration, you can signup.</h5>
    <p class="lead">
        <a class="btn btn-success ml-2" href="{% url 'signup' %}" role="button">Sign Up</a>
    </p>
{% endblock content %}