body {
  background-color: rgb(255, 255, 255);                            /* 画像のサイズを指定    */
}

.backhomelogin {
  position: relative;
  left: 480px;
  bottom: 80px;
}
.logoutinquiry {
  position: relative;
  left: 840px;
  bottom: 80px;
}
.backtoinquirylist {
  position: relative;
  top: 9.5rem;
  left: 27rem;
}

.card {
  position: relative;
  top: 25px;
  margin-bottom: 3rem;
}

.inquiry {
  position: relative;
  top: 90px;

  margin-bottom: 150px;
}

.createnew {
  position: relative;
  left: 1015px;
  top: 0px;
}

.newinquiry {
  position: relative;
  top: 200px;
  left: 330px;
}

.inquirylistsignuplogin {
  position: relative;
  top: 200px;
  left: 330px;
}
.inquirylistsignup {
  position: relative;
  top: 145px;
  left: 170px;
}

.inquirylistlogin {
  position: relative;
  top: 50px;
  left: 180px;
}

.inquiryor {
  position: relative;
  top: 30px;
  left: 200px;
}

.inquiryloginform {
  position: relative;
  top: 200px;
  left: 370px;
}

.inquirysignupform {
  position: relative;
  top: 130px;
  left: 10px;
}

.resetform {
  position: relative;
  top: 200px;
  left: 300px;
}

.changedone {
  position: relative;
  top: 400px;
  left: 100px;
}

.resetdone {
  position: relative;
  top: 200px;
  left: 300px;
}

.backhomeresetdone {
  position: relative;
  left: 300px;
  top: 200px;
}

.changedone {
  position: relative;
  top: 200px;
  left: 300px;
}

.backhomechangedone {
  position: relative;
  left: 300px;
  top: 200px;
}

.changeform {
  position: relative;
  top: 200px;
  left: 300px;
}

.resetcomplete {
  position: relative;
  top: 200px;
  left: 300px;
}

.resetconfirm {
  position: relative;
  top: 200px;
  left: 300px;
}