{% extends 'aboutmebase.html' %}
{% load static %}
{% bootstrap_css %}

{% block content %}
<br><br><br><br>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <p class="text-center display-3 font-weight-bold">ABOUT ME</p>
          <p class="h5">I'm Kentaro Kamiya and a master's student at Nagoya University in Aichi Japan.<br> Study computer science, mainly NLP and Deep Learning. <br>Develop web service using Django as a hobby.</p><br>
          <a class="btn btn-outline-dark btn-lg font-weight-bold" href="https://drive.google.com/file/d/1RC2D58zshmNnOGviMeOsJJd9qNHjXt_t/view?usp=sharing" role="button">See Resume</a>
        </div>
    </div>
    <p class="display-4 text-center font-weight-bold">EDUCATION</p><br>
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <h1 class="text-center">Nagoya Uni.<br><h5 class="text-right">2020-2022(expected)</h5></h1>
            <h4>Master's student of Informatics. Studying NLP, Discussion Mining, Speech Recognition with Deep Learning.<br>Under Prof. Katashi Nagao and Ryuichiro Higashinaka. </h4><br>
        </div>
        <div class="col-lg-4 col-xs-12">
            <h1 class="text-center">Nanzan Uni.<br><h5 class="text-right">2016-2020</h5></h1>
            <h4>Studied Natural Language Processing(NLP) and Deep Learning. Developed query-focused products review summrization model with Deep Learning.<br>Under Prof. Mikio Aoyama.</h4><br>
        </div>
        <div class="col-lg-4 col-xs-12">
            <h1 class="text-center">Handa High Sch.<br><h5 class="text-right">2013-2016</h5></h1>
            <h4>Started programming when <br>I was 18. At first, studied grammer of C-Language and sorting algorithm.</h4><br>
        </div>
    </div>
    <br>
    <p class="display-4 text-center font-italic font-weight-bold">Strength</p><br>
    <div class="row">
        <div class="col-lg-4 col-xs-12 text-center">
            <h1>Activeness</h1>
            <br>
            <canvas id="myChart1" ></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <script>
                var data = {
                    labels: [
                    "Activeness",
                    ],
                    datasets: [
                    {
                        data: [100],
                        backgroundColor: [
                        "#FF6384",
                        ],
                        hoverBackgroundColor: [
                        "#FF6384",
                        ]
                    }]
                };
                var promisedDeliveryChart = new Chart(document.getElementById('myChart1'), {
                    type: 'doughnut',
                    data: data,
                    options: {
                        responsive: true,
                    legend: {
                        display: false
                    }
                    }
                });
                Chart.pluginService.register({
                    beforeDraw: function(chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;
                    ctx.restore();
                    var fontSize = (height / 114).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";
                    ctx.textBaseline = "middle";
                    var text = "100%",
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;
                    ctx.fillText(text, textX, textY);
                    ctx.save()
                    }
                });
            </script>
            <br><br><br>

        </div>
        <div class="col-lg-4 col-xs-12 text-center">
            <h1>Persistance</h1>
            <br>
            <canvas id="myChart2" ></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <script>
                var data = {
                    labels: [
                    "Persistance",
                    ],
                    datasets: [
                    {
                        data: [100],
                        backgroundColor: [
                        "#FF6384",
                        ],
                        hoverBackgroundColor: [
                        "#FF6384",
                        ]
                    }]
                };
                var promisedDeliveryChart = new Chart(document.getElementById('myChart2'), {
                    type: 'doughnut',
                    data: data,
                    options: {
                        responsive: true,
                    legend: {
                        display: false
                    }
                    }
                });
                Chart.pluginService.register({
                    beforeDraw: function(chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;
                    ctx.restore();
                    var fontSize = (height / 114).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";
                    ctx.textBaseline = "middle";
                    var text = "100%",
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;
                    ctx.fillText(text, textX, textY);
                    ctx.save()
                    }
                });
            </script>
            <br><br><br>
        </div>
        <div class="col-lg-4 col-xs-12 text-center">
            <h1>Motivative</h1>
            <br>
            <canvas id="myChart3" ></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <script>
                var data = {
                    labels: [
                    "Motivative",
                    ],
                    datasets: [
                    {
                        data: [100],
                        backgroundColor: [
                        "#FF6384",
                        ],
                        hoverBackgroundColor: [
                        "#FF6384",
                        ]
                    }]
                };
                var promisedDeliveryChart = new Chart(document.getElementById('myChart3'), {
                    type: 'doughnut',
                    data: data,
                    options: {
                        responsive: true,
                    legend: {
                        display: false
                    }
                    }
                });
                Chart.pluginService.register({
                    beforeDraw: function(chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;
                    ctx.restore();
                    var fontSize = (height / 114).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";
                    ctx.textBaseline = "middle";
                    var text = "100%",
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;
                    ctx.fillText(text, textX, textY);
                    ctx.save()
                    }
                });
            </script>
            <br><br><br>
        </div>
    </div>
    <center><a class="btn btn-outline-secondary btn-lg" href="{% url 'home' %}" role="button">BACK</a></center><br><br><br><br>
</div>

{% endblock content %}