{% extends 'inquirybase.html' %}
{% load static %}
{% bootstrap_css %}
{% block title %}Inquiry Detail{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <div class="inquirydetail">
    <div class="inquiry-entry">
      <h2>{{ object.title }}</h2>
      <p>by {{ object.author }} | {{ object.date }}</p>
      <p>{{ object.body }}</p>
    </div>

    <p class="lead"><a class="btn btn-outline-dark font-weight-bold btn-lg" href="{% url 'inquiry_edit' inquiry.pk %}">Edit</a>  <a class="btn btn-outline-dark font-weight-bold btn-lg" href="{% url 'inquiry_delete' inquiry.pk %}">Delete</a>
    <a class="btn btn-outline-dark font-weight-bold btn-lg" href="{% url 'inquiry_list' %}">See all inquiries</a></p>
{% else %}
    <p>You are not signup. Please signup and contact me.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
    </p>
{% endif %}
{% endblock content %}