{% extends 'inquirybase.html' %}
{% load static %}
{% bootstrap_css %}

{% block content %}
      {% if user.is_authenticated %}
        <br><br><br><br>
        <h1 class="h1 font-whight-bold text-dark text-center">INQUIRIES</h1>
        <a class="btn btn-outline-dark btn-lg font-weight-bold" href="{% url 'inquiry_new' %}" role="button">+NEW</a>
        <br><br>
        {% for inquiry in object_list %}
          <div class="card">
            <div class="card-header">
              <span class="font-weight-bold">{{ inquiry.title }}</span> &middot;
              <span class="text-muted">by {{ inquiry.author }} | {{ inquiry.date }}</span>
            </div>
            <div class="card-body">
              <p>{{ inquiry.body }}</p>
              <a href="{% url 'inquiry_edit' inquiry.pk %}">Edit</a> |
              <a href="{% url 'inquiry_delete' inquiry.pk %}">Delete</a>
            </div>
            <div class="card-footer">
              {% for comment in inquiry.comments.all %}
                <p>from
                  <span class="font-weight-bold">{{ comment.author }}&middot;</span>
                  {{ comment }}
                </p>
              {% endfor %}
            </div>
          </div>
          <br />
        {% endfor %}
        <a class="btn btn-outline-dark btn-lg font-weight-bold" href="{% url 'home' %}" role="button">BACK</a>
        <a class="btn btn-outline-dark btn-lg font-weight-bold" href="{% url 'logout' %}" role="button">LOG OUT</a><br><br><br><br>

      {% else %}
      <br><br><br><br>
      <div class="text-center">
        <h1 class="text-dark font-weight-bold">Please Log In or Sign Up</h1><br>
        <a class="btn btn-outline-dark font-weight-bold btn-lg" href="{% url 'login' %}" role="button">Log In</a>
        <a class="h3 text-dark font-weight-bold">&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;</a>
        <a class="btn btn-outline-dark font-weight-bold btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
        </div>
      {% endif %}



{% endblock content %}



