{% extends 'portfoliobase.html' %}
{% load static %}
{% bootstrap_css %}

{% block content %}
<br><br><br><br>
<div class="container">
    <div class="jumbotron jumbotron-fluid jumbotron-extend">
        <div class="container text-center container-extend">
          <p class="text-center display-4 font-weight-bold">EXPERIENCE</p>
        </div>
    </div><br>

    <div class="row justify-content-between">
        <div class="col-lg-6 col-xs-12">
            <h1 class="text-center font-weight-bold">The 82th National Convention of
                IPSJ</h1><br>
            <h3 class="font-weight-bold  text-center">Thesis Title</h3>
            <h3 class="text-center font-italic">'An Abstractive Review Summarization Method Using Deep Learning with Focus on Key Words and its Evaluation'</h3><br>
            <h3 class="font-weight-bold  text-center">Abstract</h3>
            <h4 class="text-center">Proposed a method of extracting keywords by using TextRank into a set of review texts and generating summarization from the review texts by using query-focused summarization method with attentoin mechanism focusing on the extracted keywords.</h4><br>
            <h3 class="text-center font-weight-bold">Won the Student Encouragement Award</h3><br>
            <center><a class="btn btn-outline-dark btn-lg font-weight-bold" href="https://drive.google.com/file/d/1Pjbpf2iXUSuUQAinxZX5cghgLM45HZzZ/view?usp=sharing" role="button">See Thesis</a></center><br>
        </div>
        <div class="col-lg-6 col-xs-12">
            <br><br>
            <h1 class="text-center font-weight-bold">Portfolio Site</h1><br>
            <h3 class="font-weight-bold  text-center">About</h3>
            <h4 class="text-center">Created web site from scratch that you see now. Used Django Web Framework, and deployed the site to Google App Engine. It contains Contact Form, so everyone can post anything to me. The contents are stored in database so that  can see the contents eveytime. There is the Comment function so I can replay.</h4>
            <h4></h4><br>
            <h3 class="text-center font-weight-bold">Skills and Tools used</h3>
            <table align="center">
                <tr>
                    <td><h4>Python</h4></td>
                    <td><h4>Django</h4></td>
                </tr>
                <tr>
                    <td><h4>HTML/CSS&nbsp;&nbsp;&nbsp;&nbsp;</h4></td>
                    <td><h4>GCP</h4></td>
                </tr>
                <tr>
                    <td><h4>JavaScript</h4></td>
                    <td><h4>MySQL</h4></td>
                </tr>
            </table>
        </div>
    </div>
</div><br>
<center><a class="btn btn-outline-secondary btn-lg" href="{% url 'home' %}" role="button">BACK</a></center><br><br><br><br>
{% endblock content %}